h1{
    font-style: italic;
  
}
button{
    color: aqua;
    background-color: black;
}
body{
    background-color: pink;
}
.myclass{
    background-color: aqua;
}
a{
    text-decoration: none;
}
#traffic{
    height: 310px;
   width: 104px;
    border: 2px solid black;
    text-align: center;
    background-color: black;

}
#id1{
 height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: red;
}
#id2{
 height: 100px;
    width: 100px;
      border: 2px solid black;
    border-radius: 50%;
    background-color: yellow;
   
}

#id3{
 height: 100px;
    width: 100px;
     border: 2px solid black;
    border-radius: 50%;
    background-color: green;
}
#navbar{
    height: 30px;
   background-color: #0f1111;
   color: white;
   display: flex;
justify-content: space-evenly;
  
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right:20px ;
}
#diljit{
    height: 100px;
    width: 100px;
    border: black solid;
    border-radius: 50%;
    background-image: url("diljit.png");
    background-size: cover;

}
h1{
    text-align: center;
}
#container{
    height: 200px;
    width: 800px;
    border: 2px solid black;
    display: flex;
   
    text-align: center;
    margin-left: 400px;
  justify-content: center;
}
#box1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: crimson;
}
#box2{
    height: 100px;
    width: 100px;
    border: 2px solid black; 
    background-color: aqua;
}
#box{
    height: 300px;
    width: 300px;
    border: solid 2px black;
     display: flex;
     justify-content: center;
    align-items: center;
   
}
.box{
    height: 100px;
    width: 100px;
    background-color:aqua;
    position: absolute;
    top: 1000px;
    left: 800px;
    animation-name: coloranimate;
    animation-duration: 5s;
    /* animation-timing-function: ease-in; */
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
/*      
    transform: rotate(45DEG);

   transition: all 2s ease-in;  */
 }
/* @media(width:600px){
    .box{
       background-color: red; 
    }
}
@media(max-width:600px) {
   body{
        background-color: aquamarine;
    }
}  */
/* .box:hover{
     /* background-color: blue;
    color: aqua;
      transform: translate(200px,100px); */
      /* transform: skew(90deg);}  */

    
    @keyframes coloranimate {
        0%{
            left: 800px;
             background-color: aqua;
        }
        50%{
            background-color: blue;
        }
        100%{
            left: 1400px;
            background-color: blueviolet;
            color: brown;
        }
    }
    .loader{
        width: 200px;
        height: 200px;
        border: 20px solid blue;
        border-left: 20px solid black;
        border-radius: 50%;
        animation: spinanimate 1s ease-in 0s infinite ;
     
    }
     @keyframes spinanimate{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
     }